@model VPN.Account.IndexViewModel
<h2>Welcome, @User.Identity.Name</h2>



Last login Date: @Html.DisplayFor(Model =>Model.LastLoginDate)



@using (Html.BeginForm("Index", "Account"))
{
	var input = new VPN.Account.AddProductInputModel();

	@Html.EditorFor(Model=> input)

	<input type="submit" value="Submit">
}

@Html.DisplayFor(Model=>Model.Products)