<div>
    <h1>Change VPN user password</h1>

    @using (Html.BeginForm("ChangePassword", "Home"))
    {
        <label class="form-group">User Name <input type="text" name="username" /></label>
        <label>Password <input type="password" name="password" /></label>
        <label>New Password <input type="password" name="newPassword" /></label>

        <label>Repeat New Password <input type="password" name="newPassword2" /></label>
        
        <button
            class="g-recaptcha"
            data-sitekey="6Lel3UIUAAAAAJQXzDlRAkaKDdlit0Z7jPgDUvi3"
            data-callback="submit">
            Submit
        </button>

        <script>
            function submit() {
                $("form").submit();
            }
        </script>
    }

    <div>@ViewBag.PasswordMessage</div>

</div>