<div>
    <h1>Change VPN user password</h1>

    @using (Html.BeginForm("ChangePassword", "Home"))
    {
        <label class="form-group">User Name @Html.TextBox("username")</label>
        <label>Password @Html.Password("password")</label>
        <label>New Password @Html.Password("newPassword")</label>

        <label>Repeat New Password <input type="password" name="newPassword2" /></label>
        
        <button
            class="g-recaptcha"
            data-sitekey="6Lel3UIUAAAAAJQXzDlRAkaKDdlit0Z7jPgDUvi3"
            data-callback="submit">
            Submit
        </button>

        <script>
            function submit() {
                $("form").submit();
            }
        </script>
    }

    <div>@Html.Display("PasswordMessage")</div>

</div>

@section scripts {
    <script src='https://www.google.com/recaptcha/api.js'></script>
}