<div>
    <h1>Change VPN user password</h1>

    @using (Html.BeginForm("ChangePassword", "Home"))
    {
        <label class="form-group">User Name <input type="text" name="username" /></label>
        <label>Password <input type="password" name="password" /></label>
        <label>New Password <input type="password" name="newPassword" /></label>

        <label>Repeat New Password <input type="password" name="newPassword2" /></label>

        <input type="submit" />
    }

    @if (Convert.ToBoolean(ViewBag.IsChangeSuccessful))
    {
        <div>Password is changed!</div>
    }

</div>